.footer {
    padding-top: 50px;
}

.footer-title {
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    margin-bottom: 20px;
}

.footer-list {
    margin-bottom: 30px;
}

.footer-list__item {
    margin-bottom: 10px;
}

.footer-list__item::before {
    content: '\2014';
    margin-right: 6px;
}

.footer-list__item:last-child {
    margin-bottom: 0px;
}