@font-face {
    font-family: 'Roboto-Black';
    src: url("../font/Roboto-Black.woff2") format('woff2'),
        url("../font/Roboto-Black.woff") format('woff');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url("../font/Roboto-Light.woff2") format('woff2'),
        url("../font/Roboto-Light.woff") format('woff');
    font-weight: 400;
    font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
}

*,
*::before *::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    min-height: 100vh;
    font-size: 20px;
    line-height: 120%;
}

.article{
    padding-top: 60px;
    padding-bottom: 50px;
}

.section {
    padding-top: 50px;
}

.rools-title {
    margin-bottom: 30px;
}

/*
  Пример контейнера
  
  Если контейнер 1180px по макету,
  то для max-width прибавляем паддинги 30px*2, 
  в итоге 1240px
  Чтобы контент не прижимался к краям экрана
  */
.container {
    width: 1140px;
    padding: 0 30px;
    margin: 0 auto;
}

.container__gray {
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 25px 45px;
}

h1,
h2,
h3 {
    font-family: 'Roboto-Black', sans-serif;
}

img,
svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}


button {
    padding: 0;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset {
    margin: 0;
}

iframe {
    border: none;
}

/*
  Доступно скрываю элементы
  */

.visually-hidden {
    position: fixed;
    transform: scale(0);
}