.header-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
}

.header-text {
    margin-bottom: 30px;
}

.header-text:last-child {
    margin-bottom: 0px;
}