.header-title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 60px;
    line-height: 120%;
}

.header-text {
    margin-bottom: 30px;
}

.header-text:last-child {
    margin-bottom: 50px;
}

.content-title {
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 20px;
}

.content-list__item {
    margin-bottom: 10px;
    list-style: decimal;
    list-style-position: inside;
    color: #02535F;
}


.content-list__item:last-child {
    margin-bottom: 0;
}

.content-list__item-link {
    color: #02535F;
    text-decoration: solid;
}