.second-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
}

.second-text {
    margin-bottom: 30px;
    text-align: left;
}

.second-text:last-child {
    margin-bottom: 0px;
}

.second-img {
    /* display: block;
    margin: 0 auto; */
    margin-bottom: 30px;
    text-align: center;
}

.second-img:last-child{
    margin-bottom: 0px;
}

.second-img__big {
    width: 100%;
}

.second-figure__border {
    border: 1px solid black;
    margin-bottom: 30px;
}

.second-figure__border-figcaption {
    margin: 15px 30px;
}

.second-figure__border-img {
    width: 100%;
    margin: 0;
}

.second-figure {
    margin-bottom: 30px;
    text-align: center;
}

.second-figure:last-child {
    margin-bottom: 0;
}