.second-title {
    font-weight: 900;
    font-size: 36px;
    line-height: 120%;
}

.second-text {
    margin-bottom: 30px;
}

.second-text:last-child {
    margin-bottom: 0px;
}

.second-img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
}

.second-figure__border {
    margin: 0 auto;
    border: 1px solid black;
    width: 1080px;
    margin-bottom: 30px;
}

.second-figure__border-figcaption {
    margin: 15px 30px;
}

.second-figure__border-img {
    margin: 0;
}

.second-figure {
    margin-bottom: 30px;
}

.second-figure:last-child {
    margin-bottom: 0;
}